body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('C:\Users\Tudor\Downloads\bcg.jpg'); /* Set your background image path */
  background-size: cover;
  background-position: center;
  color: white;
}

.app {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
}

.navbar .logo {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .logo-img {
  height: 40px;
  margin-right: 1rem;
}

.navbar .nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar .nav-links a:hover {
  text-decoration: underline;
}

.username {
  color: white;
  margin-right: 1rem;
}

.logout-btn {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-btn:hover {
  background-color: white;
  color: black;
}


